{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Company</h1>
    
    <p>{{company.company_id}}</p>
    <p>{{company.company_name}}</p>
    <p>{{company.adress}}</p>
    <p>{{company.email}}</p>
    <p>{{company.phone_number}}</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div id="map" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>
   


        <script>
            var cordinates = [];



            function initMap(target = false) {
                //Map options
                var options;
                if (target) {
                    options = {
                        zoom: 5,
                        center: target
                    }
                }
                else {
                    options = {
                        zoom: 12,
                        center: { lat: 40.4109471, lng: 49.8681077 }
                    }
                }

                //New map
                var map = new google.maps.Map(document.getElementById('map'), options);

                //Add marker
                var marker = new google.maps.Marker({
                    // position: { lat: 40.4109471, lng: 49.8681077 },
                    map: map,
                    title: "Cihaz ID: {{ company_id }} ",
                    icon: "{%  static 'home_app/images/marker.png' %}"
                });

                marker.addListener('mouseover', function () {   
                    infoWindow.open(map, marker);
                });

                {% for obj in object_list %}
                    {% if obj.company_id == company.company_id %}
                    var infoWindow{{forloop.counter}} = new google.maps.InfoWindow({
                      
                       content: '<form method="get", action="{% url "companies_app:etrafli" obj.company_id %}">    <label for="exampleFormControlSelect1">{{obj.company_name}} {{obj.company_id}}</label> <button  type="submit" class="btn btn-success btn-sm btn-block">Etrafli</button> </form>'               
                    });
                    addMarker({{ obj.coords | safe }}, '{{ obj.text }}', "{{ obj.device_icon}}", infoWindow{{forloop.counter}});
                    cordinates.push({
                        "name": '{{ obj.text }}',
                        "data": {{ obj.coords | safe }},
                        "icon": "{{ obj.device_icon}}",
                        
                        })
                    {% endif %}
                {% endfor %}

                object_list

            
            
            // Add Marker function
            function addMarker(coords, text, device_icon, new_info) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    // title: "Cihaz ID: {{ text }} ",
                    icon: device_icon,
                });
              
                
            }
            
             

           

            }
        </script>
        <script async defer
     
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzjnO5f_DJlfKjOxgZ2PO7FEDTCMkDIiM&callback=initMap"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'calendar_app/css/styles.css' %}">

    <div class="clearfix">
	<a class="btn btn-info left" href="{% url 'calendar_app:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'calendar_app:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'calendar_app:event_new' %}"> New Event </a>
    </div>


    {{calendar}}
</body>
</html>